<form  action="/posts" method="post">
  <label for="name">Name of this post: </label>
  <input type="text" name="name" value="">
  <br><br>
  <label for="content">Content: </label>
  <br>
  <textarea name="content" rows="8" cols="80"></textarea>
  <br>
  <input id="submit" type="submit" name="submit">
</form>
<button onclick="window.location.href = '/posts';">Index</button>
